<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrate</title>
</head>
<body>
    <div>
        <form class="formulario">
            <legend>Registrate</legend>
            <label for="nombre">Nombre Completo:</label>
            <input type="text" name="nombre">
            <label for="numero">Numero de celular:</label>
            <input type="number">
            <label for="password">Contraseña</label>
            <input type="password">
            <input type="submit" value="Registrarme">
        </form>
    </div>
</body>
</html>